<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>PayMyBuddy</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="btn btn-success btn-large" th:href="@{home}">PayMyBuddy</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{home}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{transfer}">Transfer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{profile}">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{contact}">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{login}">Log off</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <h2>Contacts</h2>
  <div th:if="${contacts!=null and !contacts.empty}">
    <table class="table table-responsive">
      <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Delete</td>
      </tr>
      <tr th:each="contact:${contacts}">
        <td th:text="${contact.getFirstName()}"></td>
        <td th:text="${contact.getLastName()}"></td>
        <td >
          <form th:action="@{contact/deleteContact}" th:method="delete">
            <input type="hidden" name="contactId" th:value="${contact.getId()}" />
            <input type="submit" value="Delete" class="btn btn-danger" />
          </form>
        </td>
      </tr>
    </table>
  </div>
</div>
</body>
<footer>
  <p>About Us</p>
  <p><a href="mailto:support@paymybuddy.com">Support</a></p>
</footer>
</html>