<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>PayMyBuddy</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body>
<div class = "container">
    <h1>Register</h1>
    <form method="post" th:action="@{/profile/saveUser}" th:object="${user}">
        <div class="mb-3">
            <input class="form-label" th:field="*{firstName}" type="text" name="first name" placeholder="First Name" required="">
        </div>
        <div class="mb-3">
            <input class="form-label " th:field="*{lastName}" type="text" name="last name" placeholder="Last Name" required="">
        </div>
        <div class="mb-3">
            <input class="form-label" th:field="*{email}" type="email" name="email" placeholder="Email" required="">
        </div>
        <div class="mb-3">
            <input class="form-label" th:field="*{password}" type="password" name="password" placeholder="Password" required="">
        </div>
        <div class="mb-3">
            <input class="form-label" th:field="*{address}" type="text" name="address" placeholder="Address" required="">
        </div>
        <div class="mb-3">
            <label>Birthdate</label>
            <input class="date" th:field="*{birthdate}" type="date" name="Birthdate" placeholder="Birthdate" required="">
        </div>
        <div class ="mb-3">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" required="">
                <span>I Agree To The Terms & Conditions</span>
            </label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
<footer>
    <p>About Us</p>
    <p><a href="mailto:support@paymybuddy.com">Support</a></p>
</footer>
</html>